@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/*
font-family: 'Comfortaa', cursive;
*/
*{
    font-family: 'Comfortaa', cursive;
}
h1{
    background-color: lightgray;
    height: 300px;
    width: 460px;
    border: 5px solid darkslategray;
    padding: 5px;
    text-align: center;
    margin: 5px auto;
}

h1:hover{
    background-color: yellow;
    transition: 0.7s;
}